
<footer>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="styles.css">
<link rel="icon" href="/favicon.png" type="image/x-icon"/>
<link rel="stylesheet" href="styles.css">

<div class="page-footer font-small blue pt-4">
        <div class="subletter">
                    <div >
                          <div>
                               <div><h1 align='center'style="font-weight:bold;">  SUBSCRIBE NEWSLETTER</h3>
                                </div>
                                <div align='center' style="margin:0; color:grey;"><i > industrial Revolution Bussines</i>
                               </div> <br><br><br>
                         </div>
        
                          <div class=" col-sm-1 "></div>
                          <div class=" col-sm-7 ">
                            <form  action="/contact.html" method="get" >
                                <input type="text" class="form-control" id="emailBox" name="Emailbox" placeholder="Enter Your Email" >
                             </form>
                           </div>
                         <div class=" col-sm-4 "><button id="emailbtnc" type="button">Send</button></div>
                        </div>
                    </div>
        
        </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         


<div>    
    <!-- Footer Links -->
          <div class="contactfooter">
                   <div class="container-fluid background-add">
                           <div class="row footerRowOne" align='center'>
                                  <div class="col-sm-1 "></div>
                                          <div class="col-sm-2 textfooter">
                                            <img src="/img/location.png" style="width: 100px; background: none;">
                                           Dubai,Uae
                                          </div>
                                         <div class="col-sm-5 textfooter">
                                           <img src="/img/emailorange.png" style="width: 100px;" srcset="">
                                          gci@oilindustry.in
                                          </div>
                                         <div class="col-sm-3 textfooter" >
                                         <img src="/img/Phone2.png" style="width: 100px;"alt="">
                                         +94756232546
                                         </div>
                                 </div>   <br>
                            <div class="row secondRowFooter">
                                    <div class="col-sm-1">
                                    </div>
                                   <div class="col-sm-4">
                                         <h1>About Us</h1>
                                          </p>Gulf Classic International (GCI) whose main focus is devolopment drilling of conventional primarily in shallows of lands and seas. The company was found in 2002 and this company to fulfill the goals of unvawering transperancy to GCI petroleum families of investors. <p>
                                  </div>
                                  <div class="col-sm-1" > </div>
                                   <div class="col-sm-2 quicklinkFooter">
                                     <h1>Quick Links</h1>
                                    <a href="">- About</a><br>
                                    <a href="">- Services</a><br>
                                     <a href="">- Contacts</a><br>
                                     <a href="">- Downloads</a>
    
                                   </div>
                                     <div class="col-sm-1" > </div>
                                     <div class="col-sm-2 latestNews-Col" >
                                     <h1>Latest News</h1> 
                                     <a href="http://">Gulf Classic ....</a>
                                      <a href="">According to the ...</a>
                                     <a href="">From 20-3-2019 ...</a>
                                       <a href="">Oil price hike due</a>
                                      </div>
                              </div>
    
                </div>   
    </div>
       <!-- Copyright -->
    
    </div>  <div class="footer-copyright text-center py-3 footercreditsmy">© 2019 Copyright:
      <a href="https://kreatz.in"> Kreatz.in</a>
    </div>
       <!-- Copyright -->
             <!-- Footer -->
           
    </footer>