#ser-sec1-layer{
    background-image: url(/img/background-services1.jpg);
    background-size:cover; 
    height: auto;
    
}
.ser-sec1-layer1{
 background-color: rgba(0, 0, 0, 0.39);
 height: 340px;
 width: 100%;   
}

#ser-sec2-head{
    background-color: #fc8817;
    font-size: 17px;
    font-weight: 600;
    padding-left: 10%;
    padding-right:10%;
    height: auto;
    
}
#ser-sec2-head h1{
    color: white;
    font-weight: 600;
    margin-bottom:0;
    padding-top:2%;    
}#ser-sec2-head h2{
    margin-top:0;
    font-weight: 600;
}
#ser-sec2-paragraphs{
    padding:3%;
}
#ser-sec2-headers{
 box-sizing: border-box;
}
.ser-sec2-layer1{

text-align: center;
font-size: 12px; 
margin-left: 10%; 
margin-right: 10%;
margin-top:5%;
margin-bottom:5%;

}
.ser-sec2-layer2{
    padding:0;
}
.ser-sec2-layer3{
    
}
#ser-sec2-box1{
  padding: 3%;
  margin-top:5%; 
  border: 10px solid  #fc8817;
  box-sizing: border-box;
  contain: content;
  
}
#ser-sec2-box1 button{
background-color: black;
border-radius: 30px;
width: 30%;
}
.ser-sec2-layer3{
margin-top:3%;
padding:0;
 
}
.ser-sec2-layer1 h1{
    font-size: 20px;
    color: #fc8817;
    font-weight: 600;
}
.ser-sec4-layer-content{
    
    margin-left:10%;
    margin-right:10%;
   
}
.ser-sec4-layer{
background: #ebe1d8; 
}
.ser-sec4-pnec{
    padding:2%;
    font-weight: 500;
    font-size: 16px;
    
}.ser-sec4-pnec img{
   float:right;
   margin-left:4%;
}
.ser-sec4-pnec h1{
    font-weight: 600;
}
.ser-sec4-pnec1{
    padding:3%;
    font-weight: 500;
    font-size: 16px;
}
.ser-sec4-pnec1 h1{
    font-weight: 600;
}
.ser-sec4-pnec1 img{
    float: right;
    margin-left:4%;
}
.subscribe-layer{
    text-align: center;
    font-weight: 600;
    margin-bottom: 5%;
    margin-left:8%;
    margin-right:8%;
    
    
}
.subscribe-layer h1{
    font-weight: 700;
}
#subscribe-layer-text{
    background-color: black;
    color: white;
    width: 80%!important;
    height: 60px;
    margin-left:0!important;
    padding-left: 2%!important;
}
#subscribe-layer-form{
    width: 100%;    
}
#subscribe-layer-send{
    width: 15%;
    margin: 0!important;
    padding: 0!important;
    height: 60px;
    background-color: #fc8817;
    font-size: 20px;
    padding: 1%;
}
#footer-gci-page{
    background-image: url(/img/footerbg.png);
    height: auto;
    background-size: cover;
    width: 100%;

}
.footer-gci-page-layer1{
padding-left: 9%;

}
.footer-contact-gci-page{
margin-left: 10%;
background-color: rgba(83, 82, 82, 0.664);
margin-right:10%;

font-size: 18px;
margin-top:2%;
color:rgb(156, 156, 156);

text-align: center;
}
#inner-element-footer-contact-gci{
margin-left:-8%;

}
.footer-gci-page-layer1{
background-color: rgba(0, 0, 0, 0.877);
background-size:cover;
margin-left:-10%;
margin-right:-0%; 
margin-top: -2%;
padding-top:2%;
height: auto;
}
.footer-bottom-row-gci{
margin-right:10%;
margin-left:10%;
font-size: 23px;
margin-top: 2%;
color: #d8d7d7;

}
.footer-bottom-row-gci h1{
color: #fc8817;
font-weight:600;

}
#footer-bottom-row-gci-links{
padding-left: 12%; 
}
#footer-bottom-row-gci-links a{
    color: #d8d7d7;  

    
}

/*contacts pages*/
#con-gci-sec1{
background-image: url('/img/contacts-bg.jpg');
background-size: cover;
height: 350px;
width: 100%;
}
.con-gci-sec2{
text-align: center;
padding: 1%;
background-color: #d8d7d7;
font-size: 16px;
font-weight: 600;
}
.con-gci-sec2 a{
color: #fc8817;
}
.con-colm-1{
height: 630px;;
background: #fc8817;
color: white;
padding-top:2%;
padding-left: 7%;
padding-right: 1%;
}
.con-colm-1 img{
    
    width: 50px;
    height:60px;
    background: none;
    margin:0;
    float:left;
    margin-top:5%;

}
.con-colm-1 h3{
    position: static;
    font-size:20px;
}
.con-colm-1 h2{
padding-left:5%;
}
.con-colm-1 p{
    padding-right: 30%;
    padding-left:5%;
}
#con-col1-content{
padding-top:3%;
padding-bottom: 5%;
font-size:12px;
}
#con-col1-content-img{
padding-left: 20%;
width:100%;
margin-right:0;
}
#con-col1-content-img img{
    width:50px;
    height:130px;
    margin-top:-10%; 
}
.con-sec3-content-layer{
padding-top: 4%;

margin-left: 8%;
margin-right: 6%;
}
.col-sm-3 h1{
color: #fc8817;
font-weight: 600;
}
.send-message-con{
width: 100%;
margin-top:-2%;
}
#text-input-con{
background: #d8d7d7;
color: #947e6a;
font-size: 18px;
font-weight: 400;
height:60px;
width: 45%;
border: none;
padding: 2%;
margin-top:4%;
margin-right: 4%;
}
#text-input-con-big{
    position: relative;
    background: #d8d7d7;
    color: #947e6a;
    font-size: 18px;
    font-weight: 400;
    
    width: 94.5%;
    border: none;
    padding-left: 2%;
    margin-top:4%;
}
#text-input-con-big::placeholder{
     padding-top: 2%;
}
.send-message-con h1{
color: #fc8817;
}
.send-message-con button{
    margin-top:5%;
    background: black;
    font-size: 22px;
    font-weight: 600;
    width: 150px;
    height: 50px;
}
.map-container{
    overflow:hidden;
    padding-bottom:20.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    padding-top:5%;
    position:absolute;
    }
    @media only screen and (max-width: 1083px){
        #con-col1-content-img{
            padding: 0;
            margin: 0;
            width:100%;
            float: center;
        }
        #con-col1-content-img img{
            width: 40px;
            
        }
        .con-colm-1{
            height: 700px;
        }
        #footer-location-gci{
            width:25%;
            margin-left:4%;
        }
        #footer-phone-gci{
            width:31%;
            padding-left:16%;
        }
        #footer-email-gci{
            text-align: center;
            padding-left:15%;
        }
        #projects-button-gci{
            font-size: 12px!important;
        }
    }
@media only screen and (max-width: 768px){
    #for-mobile-sec3{
        width: 100%;
        margin: 0%;
        padding: 0;
        border:0;
    }
    .con-sec3-content-layer{
        padding: 0;
        margin:0;
    }
    #footer-location-gci{
        width: 100%;
        
        padding-right: 11%;
    }
    #footer-phone-gci{
        width: 100%;
        text-emphasis: center;
        padding-left:8%!important;
        margin:0!important;
    }
    #footer-email-gci{
        width: 100%;
        text-emphasis: center;
        padding-left:10%!important;
        margin:0!important;
    }
    #projects-button-gci{
        width: 100%!important;
        background: black;
        color: white;
        border:1px solid grey!important;
    }
}
    @media only screen and (max-width: 385px){
#con-col1-content-img{
    all: initial; 
}
}
@media only screen and (max-width: 473px){
    .subscribe-layer{
        width: 100%;
        margin:0;
        padding-bottom:5%;
        border:0;
        display: none;
    }
    #text-section2-head H1{
        text-align: left!important;
        padding: 0;
    }
    }
@media only screen and (max-width: 321px){

    .con-colm-1{
        width: 100%;
        padding:0;
        margin:0;
    }
    .con-sec3-content-layer{
        padding-left:0!important;
        margin-left:0!important;
        border:0!important;
        width: 100%;
    }
}
@media only screen and (max-width: 260px){
    #con-col1-content-img{
        display:none;
    }
    #text-input-con{
        width: 100%;
    }
}

/*Projects*/
.background-layer-project-details{
background-image: url('/img/project-details-bgm.png');
background-size:cover;
height: 330px;
}
.body-pro-gci{
padding-left: 8%;
padding-right: 7%;
padding-top: 3%;
}
.active-tab{
    background: black;
    border: none;
    color: white;
    border-radius: 0;
}
#pro-sec-6 img{
    width: 100%;

}
#projects-button-gci{
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0;
    width: 18%;
    height: 45px;
    margin: 0 4px!important;
    
}
.pro-sec-6-layer{
    
    margin: 0;
    padding:0;
    padding-top:3%;
}
#pro-box-2{
    
    text-align:left;
    
    color: black;
    
    font-size:18px;
    margin-top: -2%;
    font-weight: 600;
}
#pro-box-2 my{
    color: #fc8817;
}
#pro-box-2 h1{
    font-weight: 600;
    color: #fc8817;
    margin-right: 5px;
    margin-bottom:px;
}


/*Home Re work*/
.home-layer1-serv{
color: aliceblue;
background-image: url('/img/background5.jpg');
background-size:cover; 
padding-left:9%;
padding-right: 6%;
padding-top: 1%;
}
.home-layer1-serv h1{
    text-align:center;
    font-weight: 600;   
}
#home-serv-cont-boxes{
    background: rgba(0, 0, 0, 0.555);
    border:4px solid #fc8817;
    text-align: center;
    margin-left:10%;
    margin-right: 10%;
    height: 200px;
    padding-top: 5%;
}
.home-layer2-serv1{
    padding-top:3%;

}#btn-serv-home-1{
    text-align:center;
    padding-top:5%;
    padding-bottom:5%;
    font-size: 25px;
}
#btn-serv-home-1 button{
    background: #fc8817;
    border:none;
    border-radius:10px ;
    color: rgb(75, 34, 15);
    padding-right:2%;
    padding-left:2%;
    cursor: pointer;
    font-size: 25px;
}
.Experience-layer-1-home{
background: #fc8817;
margin-top: -20px;
border-top:1px solid rgb(185, 176, 176);
text-align: center;
color: black;
padding-left: 12%;
padding-right:9%;
padding-bottom:3%;
}
.Experience-layer-1-home h1{
    color: white;
    font-size: 340%;
    font-weight: 600;   
}.Experience-layer-1-home p{
    font-size: 150%;
}
.Experience-layer-1-home button{
    background: black;
    border-color: transparent;
}
.Experience-layer-1-home button:hover{
    background: rgb(0, 0, 0);
    color: #c4c4c4;
}